In [1]:
import pandas as pd
import numpy as np
#print(pd.__version__)

In [2]:
#import sklearn
#print(sklearn.__version__)

In [3]:
import tensorflow as tf

In [4]:
#import glob

In [5]:
#all_files = glob.glob('./ipl_csv2/*.csv')
#df_from_each_file = (pd.read_csv(f) for f in all_files)
#df = pd.concat(df_from_each_file, ignore_index=True)
df = pd.read_csv('./all_matches.csv')

C:\Users\DELL\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.dtypes

match_id                    int64
season                     object
start_date                 object
venue                      object
innings                     int64
ball                      float64
batting_team               object
bowling_team               object
striker                    object
non_striker                object
bowler                     object
runs_off_bat                int64
extras                      int64
wides                     float64
noballs                   float64
byes                      float64
legbyes                   float64
penalty                   float64
wicket_type                object
player_dismissed           object
other_wicket_type         float64
other_player_dismissed    float64
dtype: object

In [7]:
df.drop(['other_player_dismissed','other_wicket_type', 'penalty','player_dismissed','start_date'], axis=1, inplace=True)

In [8]:
df['total_runs'] = df.iloc[:,-7:-2].sum(axis=1)

In [9]:
df.drop(['runs_off_bat','wides','noballs','extras','byes','legbyes'],axis=1, inplace=True)

In [10]:
df.drop('season',inplace=True,axis=1)

In [11]:
df['batting_team'].unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Chennai Super Kings', 'Kings XI Punjab', 'Rajasthan Royals',
       'Delhi Daredevils', 'Deccan Chargers', 'Mumbai Indians',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [12]:
df['batting_team'] = df['batting_team'].replace(['Delhi Daredevils'],'Delhi Capitals')
df['bowling_team'] = df['bowling_team'].replace(['Delhi Daredevils'],'Delhi Capitals')
df['batting_team'] = df['batting_team'].replace(['Kings XI Punjab'],'Punjab Kings')
df['bowling_team'] = df['bowling_team'].replace(['Kings XI Punjab'],'Punjab Kings')

In [13]:
current_teams = ['Sunrisers Hyderabad', 'Royal Challengers Bangalore', 'Mumbai Indians', 'Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals', 'Delhi Capitals', 'Punjab Kings']

In [14]:
df = df[(df['batting_team'].isin(current_teams)) &(df['bowling_team'].isin(current_teams))]

In [15]:
df['venue'].unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Sawai Mansingh Stadium',
       'MA Chidambaram Stadium, Chepauk', 'Eden Gardens',
       'Dr DY Patil Sports Academy', 'Newlands', "St George's Park",
       'Kingsmead', 'SuperSport Park', 'Buffalo Park',
       'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera',
       'Himachal Pradesh Cricket Association Stadium',
       'Subrata Roy Sahara Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Barabati Stadium', 'Maharashtra Cricket Association Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'M.Chinnaswamy Stadium', 'Holkar Cricket Stadium',
       'MA Chidambaram Stadium', 'Arun Jaitley Stadium',
       'Rajiv Gandhi International Stadium',
       'Punjab Cricket Association IS Bindra Stadium',
       'MA Chidambaram Stadium, Chepauk, Chennai',
       'Wankhede Stadium, Mumbai'], dtype=object)

In [16]:
df['venue'] = df['venue'].replace(['MA Chidambaram Stadium, Chepauk, Chennai'],'MA Chidambaram Stadium')
df['venue'] = df['venue'].replace(['MA Chidambaram Stadium, Chepauk'],'MA Chidambaram Stadium')
df['venue'] = df['venue'].replace(['M.Chinnaswamy Stadium'],'M Chinnaswamy Stadium')
df['venue'] = df['venue'].replace(['Sardar Patel Stadium, Motera'],'Narendra Modi Stadium')

In [17]:
current_stadium = ['Wankhede Stadium, Mumbai', 'MA Chidambaram Stadium', 'M Chinnaswamy Stadium', 'Eden Gardens', 'Arun Jaitley Stadium', 'Narendra Modi Stadium']

In [18]:
df = df[df['venue'].isin(current_stadium)]

In [19]:
len(df)

50115

In [20]:
df.drop('wicket_type', axis=1, inplace=True)

In [21]:
df = df[df['innings'] <=2]

In [22]:
df.head(15)

,match_id,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,total_runs
0,335982,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,1.0
1,335982,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0.0
2,335982,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,2.0
3,335982,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0.0
4,335982,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0.0
5,335982,M Chinnaswamy Stadium,1,0.6,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0.0
6,335982,M Chinnaswamy Stadium,1,0.7,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,1.0
7,335982,M Chinnaswamy Stadium,1,1.1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,Z Khan,0.0
8,335982,M Chinnaswamy Stadium,1,1.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,Z Khan,4.0
9,335982,M Chinnaswamy Stadium,1,1.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,Z Khan,4.0
10,335982,M Chinnaswamy Stadium,1,1.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,Z Khan,6.0
11,335982,M Chinnaswamy Stadium,1,1.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,Z Khan,4.0
12,335982,M Chinnaswamy Stadium,1,1.6,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,Z Khan,0.0
13,335982,M Chinnaswamy Stadium,1,2.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,0.0
14,335982,M Chinnaswamy Stadium,1,2.2,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,0.0

In [23]:
len(df)

50071

In [24]:
#encoder.fit_transform(df['non_striker'])

In [25]:
#encoder.transform(df['striker'])

In [26]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder1 = LabelEncoder()
bat = pd.concat([df['striker'], df['non_striker']])
encoder.fit(bat)
dic = dict(zip(encoder.classes_, encoder.transform(encoder.classes_)))
encoder1.fit(df['bowler'])
dic1 = dict(zip(encoder1.classes_, encoder1.transform(encoder1.classes_)))

In [27]:
dic

{'A Ashish Reddy': 0,
 'A Chandila': 1,
 'A Chopra': 2,
 'A Choudhary': 3,
 'A Kumble': 4,
 'A Mishra': 5,
 'A Mithun': 6,
 'A Mukund': 7,
 'A Nehra': 8,
 'A Singh': 9,
 'A Uniyal': 10,
 'AA Jhunjhunwala': 11,
 'AA Noffke': 12,
 'AB Agarkar': 13,
 'AB Dinda': 14,
 'AB McDonald': 15,
 'AB de Villiers': 16,
 'AC Blizzard': 17,
 'AC Gilchrist': 18,
 'AC Voges': 19,
 'AD Hales': 20,
 'AD Mascarenhas': 21,
 'AD Mathews': 22,
 'AD Nath': 23,
 'AD Russell': 24,
 'AG Paunikar': 25,
 'AJ Finch': 26,
 'AJ Tye': 27,
 'AL Menaria': 28,
 'AM Nayar': 29,
 'AM Rahane': 30,
 'AN Ahmed': 31,
 'AP Tare': 32,
 'AR Bawne': 33,
 'AR Patel': 34,
 'AS Rajpoot': 35,
 'AS Raut': 36,
 'AT Rayudu': 37,
 'AUK Pathan': 38,
 'Abdul Samad': 39,
 'Abhishek Sharma': 40,
 'Ankit Sharma': 41,
 'Anureet Singh': 42,
 'Azhar Mahmood': 43,
 'B Akhil': 44,
 'B Chipli': 45,
 'B Kumar': 46,
 'B Laughlin': 47,
 'B Lee': 48,
 'BA Bhatt': 49,
 'BA Stokes': 50,
 'BAW Mendis': 51,
 'BB McCullum': 52,
 'BB Samantray': 53,
 'BB Sran': 54,
 'BCJ Cutting': 55,
 'BJ Haddin': 56,
 'BJ Hodge': 57,
 'BJ Rohrer': 58,
 'Bipul Sharma': 59,
 'C Ganapathy': 60,
 'C Munro': 61,
 'C de Grandhomme': 62,
 'CA Ingram': 63,
 'CA Lynn': 64,
 'CA Pujara': 65,
 'CH Gayle': 66,
 'CH Morris': 67,
 'CJ Anderson': 68,
 'CJ Jordan': 69,
 'CL White': 70,
 'CM Gautam': 71,
 'CR Brathwaite': 72,
 'CR Woakes': 73,
 'D Wiese': 74,
 'DA Miller': 75,
 'DA Warner': 76,
 'DAJ Bracewell': 77,
 'DB Das': 78,
 'DB Ravi Teja': 79,
 'DE Bollinger': 80,
 'DH Yagnik': 81,
 'DJ Bravo': 82,
 'DJ Hooda': 83,
 'DJ Hussey': 84,
 'DJ Jacobs': 85,
 'DJ Muthuswami': 86,
 'DJG Sammy': 87,
 'DJM Short': 88,
 'DL Chahar': 89,
 'DL Vettori': 90,
 'DP Nannes': 91,
 'DPMD Jayawardene': 92,
 'DR Martyn': 93,
 'DR Shorey': 94,
 'DR Smith': 95,
 'DS Kulkarni': 96,
 'DT Christian': 97,
 'DT Patil': 98,
 'DW Steyn': 99,
 'E Lewis': 100,
 'EJG Morgan': 101,
 'F Behardien': 102,
 'F du Plessis': 103,
 'FY Fazal': 104,
 'G Gambhir': 105,
 'GB Hogg': 106,
 'GC Smith': 107,
 'GC Viljoen': 108,
 'GD McGrath': 109,
 'GH Vihari': 110,
 'GJ Bailey': 111,
 'GJ Maxwell': 112,
 'Gurkeerat Singh': 113,
 'H Klaasen': 114,
 'HF Gurney': 115,
 'HH Gibbs': 116,
 'HH Pandya': 117,
 'HM Amla': 118,
 'HV Patel': 119,
 'Harbhajan Singh': 120,
 'Harmeet Singh': 121,
 'Harpreet Brar': 122,
 'I Sharma': 123,
 'IK Pathan': 124,
 'IR Jaggi': 125,
 'IS Sodhi': 126,
 'Imran Tahir': 127,
 'Iqbal Abdulla': 128,
 'Ishan Kishan': 129,
 'J Arunkumar': 130,
 'J Botha': 131,
 'J Suchith': 132,
 'J Syed Mohammad': 133,
 'J Theron': 134,
 'JA Morkel': 135,
 'JC Archer': 136,
 'JC Buttler': 137,
 'JD Unadkat': 138,
 'JDP Oram': 139,
 'JEC Franklin': 140,
 'JH Kallis': 141,
 'JJ Bumrah': 142,
 'JJ Roy': 143,
 'JJ van der Wath': 144,
 'JL Denly': 145,
 'JM Bairstow': 146,
 'JO Holder': 147,
 'JP Duminy': 148,
 'JP Faulkner': 149,
 'JPR Scantlebury-Searles': 150,
 'JR Hopes': 151,
 'Joginder Sharma': 152,
 'K Goel': 153,
 'K Gowtham': 154,
 'K Rabada': 155,
 'KA Jamieson': 156,
 'KA Pollard': 157,
 'KB Arun Karthik': 158,
 'KC Cariappa': 159,
 'KC Sangakkara': 160,
 'KD Karthik': 161,
 'KH Pandya': 162,
 'KJ Abbott': 163,
 'KK Cooper': 164,
 'KK Nair': 165,
 'KL Rahul': 166,
 'KM Jadhav': 167,
 'KMA Paul': 168,
 'KMDN Kulasekara': 169,
 'KP Pietersen': 170,
 'KS Williamson': 171,
 'KV Sharma': 172,
 'KW Richardson': 173,
 'Kamran Akmal': 174,
 'Kamran Khan': 175,
 'Karanveer Singh': 176,
 'Kuldeep Yadav': 177,
 'L Ablish': 178,
 'L Balaji': 179,
 'L Ronchi': 180,
 'LA Pomersbach': 181,
 'LE Plunkett': 182,
 'LMP Simmons': 183,
 'LR Shukla': 184,
 'LRPL Taylor': 185,
 'LS Livingstone': 186,
 'M Ashwin': 187,
 'M Jansen': 188,
 'M Kaif': 189,
 'M Kartik': 190,
 'M Manhas': 191,
 'M Markande': 192,
 'M Morkel': 193,
 'M Muralitharan': 194,
 'M Ntini': 195,
 'M Prasidh Krishna': 196,
 'M Rawat': 197,
 'M Vijay': 198,
 'M Vohra': 199,
 'MA Agarwal': 200,
 'MA Khote': 201,
 'MA Starc': 202,
 'MC Henriques': 203,
 'MC Juneja': 204,
 'MEK Hussey': 205,
 'MF Maharoof': 206,
 'MG Johnson': 207,
 'MJ Guptill': 208,
 'MJ Lumb': 209,
 'MJ McClenaghan': 210,
 'MJ Santner': 211,
 'MK Lomror': 212,
 'MK Pandey': 213,
 'MK Tiwary': 214,
 'ML Hayden': 215,
 'MM Ali': 216,
 'MM Patel': 217,
 'MM Sharma': 218,
 'MP Stoinis': 219,
 'MS Bisla': 220,
 'MS Dhoni': 221,
 'MS Gony': 222,
 'MV Boucher': 223,
 'Mandeep Singh': 224,
 'Misbah-ul-Haq': 225,
 'Mohammad Hafeez': 226,
 'Mohammad Nabi': 227,
 'Mohammed Shami': 228,
 'Mohammed Siraj': 229,
 'Mujeeb Ur Rahman': 230,
 'Mustafizur Rahman': 231,
 'N Pooran': 232,
 'N Rana': 233,
 'N Saini': 234,
 'NA Saini': 235,
 'NJ Maddinson': 236,
 'NLTC Perera': 237,
 'NM Coulter-Nile': 238,
 'NS Naik': 239,
 'NV Ojha': 240,
 'OA Shah': 241,
 'P Awana': 242,
 'P Dogra': 243,
 'P Kumar': 244,
 'P Negi': 245,
 'PA Patel': 246,
 'PA Reddy': 247,
 'PC Valthaty': 248,
 'PD Collingwood': 249,
 'PJ Cummins': 250,
 'PJ Sangwan': 251,
 'PP Chawla': 252,
 'PP Ojha': 253,
 'PP Shaw': 254,
 'PV Tambe': 255,
 'Pankaj Singh': 256,
 'Parvez Rasool': 257,
 'Q de Kock': 258,
 'R Ashwin': 259,
 'R Bhatia': 260,
 'R Dhawan': 261,
 'R Dravid': 262,
 'R McLaren': 263,
 'R Parag': 264,
 'R Rampaul': 265,
 'R Sathish': 266,
 'R Shukla': 267,
 'R Tewatia': 268,
 'R Vinay Kumar': 269,
 'RA Jadeja': 270,
 'RA Tripathi': 271,
 'RD Chahar': 272,
 'RD Gaikwad': 273,
 'RE Levi': 274,
 'RE van der Merwe': 275,
 'RG More': 276,
 'RG Sharma': 277,
 'RJ Harris': 278,
 'RK Singh': 279,
 'RM Patidar': 280,
 'RN ten Doeschate': 281,
 'RP Singh': 282,
 'RR Bhatkal': 283,
 'RR Pant': 284,
 'RR Powar': 285,
 'RR Rossouw': 286,
 'RR Sarwan': 287,
 'RS Bopara': 288,
 'RS Gavaskar': 289,
 'RT Ponting': 290,
 'RV Uthappa': 291,
 'Rashid Khan': 292,
 'S Anirudha': 293,
 'S Aravind': 294,
 'S Badree': 295,
 'S Badrinath': 296,
 'S Chanderpaul': 297,
 'S Dhawan': 298,
 'S Dube': 299,
 'S Gopal': 300,
 'S Kaul': 301,
 'S Nadeem': 302,
 'S Narwal': 303,
 'S Rana': 304,
 'S Sreesanth': 305,
 'S Sriram': 306,
 'S Vidyut': 307,
 'SA Abbott': 308,
 'SA Asnodkar': 309,
 'SA Yadav': 310,
 'SB Jakati': 311,
 'SB Joshi': 312,
 'SB Styris': 313,
 'SC Ganguly': 314,
 'SE Bond': 315,
 'SE Marsh': 316,
 'SE Rutherford': 317,
 'SK Raina': 318,
 'SK Trivedi': 319,
 'SK Warne': 320,
 'SL Malinga': 321,
 'SM Curran': 322,
 'SM Pollock': 323,
 'SMSM Senanayake': 324,
 'SN Khan': 325,
 'SN Thakur': 326,
 'SO Hetmyer': 327,
 'SP Fleming': 328,
 'SP Goswami': 329,
 'SP Jackson': 330,
 'SP Narine': 331,
 'SPD Smith': 332,
 'SR Tendulkar': 333,
 'SR Watson': 334,
 'SS Iyer': 335,
 'SS Tiwary': 336,
 'ST Jayasuriya': 337,
 'STR Binny': 338,
 'SV Samson': 339,
 'SW Billings': 340,
 'SW Tait': 341,
 'Sachin Baby': 342,
 'Salman Butt': 343,
 'Sandeep Sharma': 344,
 'Shahbaz Ahmed': 345,
 'Shakib Al Hasan': 346,
 'Shivam Mavi': 347,
 'Shivam Sharma': 348,
 'Shubman Gill': 349,
 'Sohail Tanvir': 350,
 'Sunny Gupta': 351,
 'Sunny Singh': 352,
 'Swapnil Singh': 353,
 'T Kohli': 354,
 'T Taibu': 355,
 'T Thushara': 356,
 'TA Boult': 357,
 'TG Southee': 358,
 'TK Curran': 359,
 'TL Suman': 360,
 'TM Dilshan': 361,
 'TM Head': 362,
 'TM Srivastava': 363,
 'TS Mills': 364,
 'U Kaul': 365,
 'UBT Chand': 366,
 'UT Yadav': 367,
 'Umar Gul': 368,
 'V Kohli': 369,
 'V Sehwag': 370,
 'V Shankar': 371,
 'VH Zol': 372,
 'VR Aaron': 373,
 'VRV Singh': 374,
 'VY Mahesh': 375,
 'Vishnu Vinod': 376,
 'W Jaffer': 377,
 'WP Saha': 378,
 'Washington Sundar': 379,
 'X Thalaivan Sargunam': 380,
 'Y Nagar': 381,
 'Y Venugopal Rao': 382,
 'YK Pathan': 383,
 'YS Chahal': 384,
 'YV Takawale': 385,
 'Yuvraj Singh': 386,
 'Z Khan': 387}

In [28]:
dic1

{'A Ashish Reddy': 0,
 'A Chandila': 1,
 'A Choudhary': 2,
 'A Kumble': 3,
 'A Mishra': 4,
 'A Mithun': 5,
 'A Nehra': 6,
 'A Singh': 7,
 'A Uniyal': 8,
 'AA Chavan': 9,
 'AA Jhunjhunwala': 10,
 'AA Noffke': 11,
 'AB Agarkar': 12,
 'AB Dinda': 13,
 'AB McDonald': 14,
 'AC Voges': 15,
 'AD Mascarenhas': 16,
 'AD Mathews': 17,
 'AD Russell': 18,
 'AF Milne': 19,
 'AG Murtaza': 20,
 'AJ Finch': 21,
 'AJ Tye': 22,
 'AL Menaria': 23,
 'AM Nayar': 24,
 'AN Ahmed': 25,
 'AR Patel': 26,
 'AS Rajpoot': 27,
 'AS Roy': 28,
 'AUK Pathan': 29,
 'Ankit Sharma': 30,
 'Anureet Singh': 31,
 'Avesh Khan': 32,
 'Azhar Mahmood': 33,
 'B Akhil': 34,
 'B Kumar': 35,
 'B Laughlin': 36,
 'B Lee': 37,
 'B Stanlake': 38,
 'BA Bhatt': 39,
 'BA Stokes': 40,
 'BAW Mendis': 41,
 'BB Sran': 42,
 'BCJ Cutting': 43,
 'BE Hendricks': 44,
 'BJ Hodge': 45,
 'BW Hilfenhaus': 46,
 'Basil Thampi': 47,
 'Bipul Sharma': 48,
 'C Ganapathy': 49,
 'C Munro': 50,
 'C de Grandhomme': 51,
 'CH Gayle': 52,
 'CH Morris': 53,
 'CJ Anderson': 54,
 'CJ Dala': 55,
 'CJ Jordan': 56,
 'CK Kapugedera': 57,
 'CK Langeveldt': 58,
 'CL White': 59,
 'CR Brathwaite': 60,
 'CR Woakes': 61,
 'CRD Fernando': 62,
 'CV Varun': 63,
 'D Salunkhe': 64,
 'D Wiese': 65,
 'DAJ Bracewell': 66,
 'DE Bollinger': 67,
 'DJ Bravo': 68,
 'DJ Hooda': 69,
 'DJ Hussey': 70,
 'DJ Muthuswami': 71,
 'DJG Sammy': 72,
 'DJM Short': 73,
 'DL Chahar': 74,
 'DL Vettori': 75,
 'DP Nannes': 76,
 'DR Smith': 77,
 'DS Kulkarni': 78,
 'DT Christian': 79,
 'DW Steyn': 80,
 'FY Fazal': 81,
 'GB Hogg': 82,
 'GC Viljoen': 83,
 'GD McGrath': 84,
 'GH Vihari': 85,
 'GJ Maxwell': 86,
 'Gagandeep Singh': 87,
 'Gurkeerat Singh': 88,
 'HF Gurney': 89,
 'HH Pandya': 90,
 'HV Patel': 91,
 'Harbhajan Singh': 92,
 'Harmeet Singh': 93,
 'Harpreet Brar': 94,
 'I Sharma': 95,
 'IC Pandey': 96,
 'IK Pathan': 97,
 'IS Sodhi': 98,
 'Imran Tahir': 99,
 'Iqbal Abdulla': 100,
 'J Botha': 101,
 'J Suchith': 102,
 'J Syed Mohammad': 103,
 'J Theron': 104,
 'J Yadav': 105,
 'JA Morkel': 106,
 'JC Archer': 107,
 'JD Unadkat': 108,
 'JDP Oram': 109,
 'JEC Franklin': 110,
 'JH Kallis': 111,
 'JJ Bumrah': 112,
 'JJ van der Wath': 113,
 'JM Kemp': 114,
 'JO Holder': 115,
 'JP Duminy': 116,
 'JP Faulkner': 117,
 'JPR Scantlebury-Searles': 118,
 'JR Hopes': 119,
 'JW Hastings': 120,
 'Joginder Sharma': 121,
 'K Gowtham': 122,
 'K Khejroliya': 123,
 'K Rabada': 124,
 'K Santokie': 125,
 'KA Jamieson': 126,
 'KA Pollard': 127,
 'KC Cariappa': 128,
 'KH Pandya': 129,
 'KJ Abbott': 130,
 'KK Ahmed': 131,
 'KK Cooper': 132,
 'KM Asif': 133,
 'KMA Paul': 134,
 'KMDN Kulasekara': 135,
 'KP Appanna': 136,
 'KP Pietersen': 137,
 'KS Williamson': 138,
 'KV Sharma': 139,
 'KW Richardson': 140,
 'Kamran Khan': 141,
 'Karanveer Singh': 142,
 'Kuldeep Yadav': 143,
 'L Ablish': 144,
 'L Balaji': 145,
 'L Ngidi': 146,
 'LE Plunkett': 147,
 'LH Ferguson': 148,
 'LR Shukla': 149,
 'M Ashwin': 150,
 'M Jansen': 151,
 'M Kartik': 152,
 'M Markande': 153,
 'M Morkel': 154,
 'M Muralitharan': 155,
 'M Ntini': 156,
 'M Prasidh Krishna': 157,
 'M de Lange': 158,
 'MA Khote': 159,
 'MA Starc': 160,
 'MC Henriques': 161,
 'MF Maharoof': 162,
 'MG Johnson': 163,
 'MJ McClenaghan': 164,
 'MJ Santner': 165,
 'MK Tiwary': 166,
 'MM Ali': 167,
 'MM Patel': 168,
 'MM Sharma': 169,
 'MP Stoinis': 170,
 'MS Gony': 171,
 'Mandeep Singh': 172,
 'Mohammad Asif': 173,
 'Mohammad Hafeez': 174,
 'Mohammad Nabi': 175,
 'Mohammed Shami': 176,
 'Mohammed Siraj': 177,
 'Mujeeb Ur Rahman': 178,
 'Mustafizur Rahman': 179,
 'N Rana': 180,
 'NA Saini': 181,
 'ND Doshi': 182,
 'NLTC Perera': 183,
 'NM Coulter-Nile': 184,
 'O Thomas': 185,
 'P Amarnath': 186,
 'P Awana': 187,
 'P Kumar': 188,
 'P Negi': 189,
 'P Suyal': 190,
 'PC Valthaty': 191,
 'PD Collingwood': 192,
 'PJ Cummins': 193,
 'PJ Sangwan': 194,
 'PP Chawla': 195,
 'PP Ojha': 196,
 'PV Tambe': 197,
 'Pankaj Singh': 198,
 'Parvez Rasool': 199,
 'R Ashwin': 200,
 'R Bhatia': 201,
 'R Dhawan': 202,
 'R McLaren': 203,
 'R Ninan': 204,
 'R Parag': 205,
 'R Rampaul': 206,
 'R Sathish': 207,
 'R Shukla': 208,
 'R Tewatia': 209,
 'R Vinay Kumar': 210,
 'RA Jadeja': 211,
 'RD Chahar': 212,
 'RE van der Merwe': 213,
 'RG More': 214,
 'RG Sharma': 215,
 'RJ Harris': 216,
 'RN ten Doeschate': 217,
 'RP Singh': 218,
 'RR Bhatkal': 219,
 'RR Powar': 220,
 'RS Bopara': 221,
 'RS Gavaskar': 222,
 'RW Price': 223,
 'Rashid Khan': 224,
 'S Aravind': 225,
 'S Badree': 226,
 'S Dube': 227,
 'S Gopal': 228,
 'S Kaul': 229,
 'S Ladda': 230,
 'S Lamichhane': 231,
 'S Nadeem': 232,
 'S Narwal': 233,
 'S Rana': 234,
 'S Randiv': 235,
 'S Sandeep Warrier': 236,
 'S Sreesanth': 237,
 'S Sriram': 238,
 'S Tyagi': 239,
 'SA Abbott': 240,
 'SB Jakati': 241,
 'SB Joshi': 242,
 'SB Wagh': 243,
 'SC Ganguly': 244,
 'SC Kuggeleijn': 245,
 'SE Bond': 246,
 'SE Rutherford': 247,
 'SJ Srivastava': 248,
 'SK Raina': 249,
 'SK Trivedi': 250,
 'SK Warne': 251,
 'SL Malinga': 252,
 'SM Curran': 253,
 'SM Pollock': 254,
 'SMSM Senanayake': 255,
 'SN Thakur': 256,
 'SP Narine': 257,
 'SR Watson': 258,
 'ST Jayasuriya': 259,
 'STR Binny': 260,
 'SW Tait': 261,
 'Sachin Baby': 262,
 'Sandeep Sharma': 263,
 'Shahbaz Ahmed': 264,
 'Shakib Al Hasan': 265,
 'Shivam Mavi': 266,
 'Shivam Sharma': 267,
 'Shoaib Akhtar': 268,
 'Shoaib Malik': 269,
 'Sohail Tanvir': 270,
 'Sunny Gupta': 271,
 'Swapnil Singh': 272,
 'T Natarajan': 273,
 'T Shamsi': 274,
 'T Thushara': 275,
 'TA Boult': 276,
 'TG Southee': 277,
 'TK Curran': 278,
 'TM Dilshan': 279,
 'TM Head': 280,
 'TS Mills': 281,
 'UT Yadav': 282,
 'Umar Gul': 283,
 'V Kohli': 284,
 'V Sehwag': 285,
 'V Shankar': 286,
 'VR Aaron': 287,
 'VRV Singh': 288,
 'VS Malik': 289,
 'VS Yeligati': 290,
 'VY Mahesh': 291,
 'Washington Sundar': 292,
 'Y Prithvi Raj': 293,
 'YA Abdulla': 294,
 'YK Pathan': 295,
 'YS Chahal': 296,
 'Yuvraj Singh': 297,
 'Z Khan': 298}

In [29]:
df = df[df['ball'] <=6.0]

In [30]:
#bat = pd.concat([df['striker'], df['non_striker']]).unique()

In [31]:
#bat

In [32]:
#df['striker'] = encoder.transform(df['striker'])
#df['non_striker'] = encoder.transform(df['non_striker'])

In [33]:
df.head()

,match_id,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,total_runs
0,335982,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,1.0
1,335982,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0.0
2,335982,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,2.0
3,335982,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0.0
4,335982,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0.0

In [34]:
#encoder.classes_

In [35]:
#from collections import defaultdict
#d = defaultdict(encoder)
#print(dict(d))

In [36]:
#len(df)

In [37]:
#len(df)

In [38]:
#data = df.groupby(['match_id','innings'])

In [39]:
#data.head()

In [40]:
#encoder1 = LabelEncoder()

In [41]:
#encoder1.fit(df['bowler'])

In [42]:
df.head(10)

,match_id,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,total_runs
0,335982,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,1.0
1,335982,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0.0
2,335982,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,2.0
3,335982,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0.0
4,335982,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0.0
5,335982,M Chinnaswamy Stadium,1,0.6,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0.0
6,335982,M Chinnaswamy Stadium,1,0.7,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,1.0
7,335982,M Chinnaswamy Stadium,1,1.1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,Z Khan,0.0
8,335982,M Chinnaswamy Stadium,1,1.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,Z Khan,4.0
9,335982,M Chinnaswamy Stadium,1,1.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,Z Khan,4.0

In [43]:
data1 = df.groupby(['match_id','innings'])['striker','non_striker'].apply(lambda x: list(np.unique(x)))
data1 = data1.to_frame('batsmen')

data2 = df.groupby(['match_id','innings'])['bowler'].apply(lambda x: list(np.unique(x)))
data2 = data2.to_frame('bowlers')

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [44]:
data1.head()

                                                            batsmen
match_id innings
335982   1                    [BB McCullum, RT Ponting, SC Ganguly]
         2        [CL White, JH Kallis, MV Boucher, R Dravid, V ...
335989   1              [MEK Hussey, ML Hayden, PA Patel, SK Raina]
         2        [L Ronchi, RV Uthappa, SM Pollock, ST Jayasuriya]
335992   1        [JH Kallis, LRPL Taylor, R Dravid, S Chanderpaul]

In [45]:
data3 = df.groupby(['match_id','innings'])['total_runs'].sum()

In [46]:
data4 = df.groupby(['match_id','innings'])['batting_team'].apply(lambda x: np.unique(x)).str[0]

In [47]:
data5 = df.groupby(['match_id','innings'])['bowling_team'].apply(lambda x: np.unique(x)).str[0]

In [48]:
data6 = df.groupby(['match_id','innings'])['venue'].apply(lambda x: np.unique(x)).str[0]

In [49]:
data = pd.concat([data1,data2,data3,data4,data5,data6],axis=1)

In [50]:
#data.head()

In [51]:
#data9 = df.groupby(['match_id','innings'])['striker','non_striker'].apply(lambda x: list(np.unique(x)))
#data9 = data9.reset_index()
#data9 = data9.to_frame('batsmen')
#data.reset_index()
#data9.dtypes

In [52]:
#data9.head()

In [53]:
#data.drop('match_id',axis=1,inplace=True)

In [54]:
data.head()

                                                            batsmen  \
match_id innings
335982   1                    [BB McCullum, RT Ponting, SC Ganguly]
         2        [CL White, JH Kallis, MV Boucher, R Dravid, V ...
335989   1              [MEK Hussey, ML Hayden, PA Patel, SK Raina]
         2        [L Ronchi, RV Uthappa, SM Pollock, ST Jayasuriya]
335992   1        [JH Kallis, LRPL Taylor, R Dravid, S Chanderpaul]

                                               bowlers  total_runs  \
match_id innings
335982   1                [AA Noffke, P Kumar, Z Khan]        67.0
         2            [AB Agarkar, AB Dinda, I Sharma]        28.0
335989   1          [A Nehra, DS Kulkarni, SM Pollock]        60.0
         2                         [JDP Oram, MS Gony]        54.0
335992   1        [MM Patel, SR Watson, Sohail Tanvir]        58.0

                                 batting_team                 bowling_team  \
match_id innings
335982   1              Kolkata Knight Riders  Royal Challengers Bangalore
         2        Royal Challengers Bangalore        Kolkata Knight Riders
335989   1                Chennai Super Kings               Mumbai Indians
         2                     Mumbai Indians          Chennai Super Kings
335992   1        Royal Challengers Bangalore             Rajasthan Royals

                                   venue
match_id innings
335982   1         M Chinnaswamy Stadium
         2         M Chinnaswamy Stadium
335989   1        MA Chidambaram Stadium
         2        MA Chidambaram Stadium
335992   1         M Chinnaswamy Stadium

In [55]:
#data['batsmen'][0][0]

In [56]:
#data.head()

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
encoder2 = LabelEncoder()
#team = pd.concat([df['batting_team'], df['bowling_team']])
data['batting_team'] = encoder2.fit_transform(data['batting_team'])
data['bowling_team'] = encoder2.transform(data['bowling_team'])
#dic2 = dict(zip(encoder.classes_, encoder.transform(encoder.classes_)))

In [59]:
encoder3 = LabelEncoder()
data['venue'] = encoder3.fit_transform(data['venue'])

In [60]:
#

In [61]:

#data = pd.get_dummies(data=data, columns=['batting_team', 'bowling_team', 'venue'])
data = data.join(pd.DataFrame(data.batsmen.values.tolist(), data.index).add_prefix('batsmen'))
data = data.join(pd.DataFrame(data.bowlers.values.tolist(), data.index).add_prefix('bowlers'))

In [62]:
data['batsmen0'] = data['batsmen0'].map(dic)
data['batsmen1'] = data['batsmen1'].map(dic)
data['batsmen2'] = data['batsmen2'].map(dic)
data['batsmen3'] = data['batsmen3'].map(dic)
data['batsmen4'] = data['batsmen4'].map(dic)
data['batsmen5'] = data['batsmen5'].map(dic)
data['batsmen6'] = data['batsmen6'].map(dic)
data['batsmen7'] = data['batsmen7'].map(dic)
data['batsmen8'] = data['batsmen8'].map(dic)


data['bowlers0'] = data['bowlers0'].map(dic1)
data['bowlers1'] = data['bowlers1'].map(dic1)
data['bowlers2'] = data['bowlers2'].map(dic1)
data['bowlers3'] = data['bowlers3'].map(dic1)
data['bowlers4'] = data['bowlers4'].map(dic1)

data.drop(['batsmen','bowlers'],axis=1,inplace=True)
data = data.fillna(0)
for i in data.columns:
    data[i]=data[i].astype('int64')
#return data1

In [63]:
#data = data.apply(pd.to_numeric)
#data.head()
#data[:][0] = 0

In [64]:
data = data.reset_index()

In [65]:
data.drop('match_id',axis=1,inplace=True)

In [66]:
#data.drop('match_id',axis=1,inplace=True)
#del data['match_id']
data.dtypes

innings         int64
total_runs      int64
batting_team    int64
bowling_team    int64
venue           int64
batsmen0        int64
batsmen1        int64
batsmen2        int64
batsmen3        int64
batsmen4        int64
batsmen5        int64
batsmen6        int64
batsmen7        int64
batsmen8        int64
bowlers0        int64
bowlers1        int64
bowlers2        int64
bowlers3        int64
bowlers4        int64
dtype: object

In [67]:
X = data.drop('total_runs',axis=1)
y = data['total_runs']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [68]:

X.dtypes

innings         int64
batting_team    int64
bowling_team    int64
venue           int64
batsmen0        int64
batsmen1        int64
batsmen2        int64
batsmen3        int64
batsmen4        int64
batsmen5        int64
batsmen6        int64
batsmen7        int64
batsmen8        int64
bowlers0        int64
bowlers1        int64
bowlers2        int64
bowlers3        int64
bowlers4        int64
dtype: object

In [69]:
#from sklearn.linear_model import Lasso
#from sklearn.model_selection import GridSearchCV
#lasso=Lasso()
#parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40]}
#lasso_regressor=GridSearchCV(lasso,parameters,scoring='r2',cv=5)
#lasso_regressor.fit(X_train,y_train)
#print(lasso_regressor.best_params_)
#print(lasso_regressor.best_score_)
#prediction = lasso_regressor.predict(X_test)

In [70]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 800, num = 4)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 60, num = 6)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

{'n_estimators': [200, 400, 600, 800], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]}

In [71]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 30, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train, y_train)

print(rf_random.best_params_)
prediction = rf_random.predict(X_test)

Fitting 3 folds for each of 30 candidates, totalling 90 fits
{'n_estimators': 400, 'min_samples_split': 10, 'min_samples_leaf': 4, 'max_features': 'sqrt', 'max_depth': 30, 'bootstrap': True}

In [72]:
#data1 = preprocess(data1)

In [73]:
#

In [74]:
#data.drop(['batsmen','bowlers'],axis=1,inplace=True)

In [75]:
#data.columns

In [76]:
#data['batsmen0'] = data['batsmen0'].map(dic)

In [77]:
#print(dic)
#data['batsmen0'].head(20)

In [78]:
#data.head()

In [79]:
#data.head()

In [80]:
#data.dtypes

In [81]:
#data.total_runs = data.total_runs.astype(int)

In [82]:
#X.head()

In [83]:
#y.head()

In [84]:
#data.head()

In [85]:
#import seaborn as sns

In [86]:
#from sklearn import metrics
#print(sns.distplot(y_test-prediction))
#print('MAE:', metrics.mean_absolute_error(y_test, prediction))
#print('MSE:', metrics.mean_squared_error(y_test, prediction))
#print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, prediction)))

In [87]:
print(prediction)

[39.67705026 39.53802389 50.60583909 51.54487107 43.12192572 48.59283338
 40.4772094  51.27423254 47.30434853 55.95056875 55.96813654 46.71326278
 48.32785105 45.34016457 50.84782346 46.62627604 50.52803643 51.22981108
 48.25236599 51.13070858 50.71776993 41.61113971 49.8020863  50.04432801
 49.59995249 57.9157841  51.75056282 47.85532445 43.50545507 43.88836264
 49.541884   42.39213977 46.74025741 49.85431034 48.81880009 43.26499646
 52.32462599 52.64890075 50.73169505 47.11397533 53.38170038 41.84334507
 56.07049518 51.29859168 51.22317112 46.5194281  43.91160475 49.41719662
 41.53005714 51.57060509 47.42950015 42.60153356 48.04182493 49.62625742
 48.23671899 44.85669063 44.33681332 42.98159257 54.62490166 51.74879173
 51.31129526 47.59268572 51.76286302 47.98444855 51.64666527 43.1956035
 47.00465826 48.03502826 43.62218342 39.96873734 51.23959599 49.98031741
 52.85977704 49.79195058 43.5883069  52.21035018 46.19454708 48.25651527
 51.21413993 52.74997928 50.21705168 39.43000139 53.57496907 46.29169419
 53.24888542]

In [88]:
prediction = prediction.astype(int)

In [89]:
prediction

array([39, 39, 50, 51, 43, 48, 40, 51, 47, 55, 55, 46, 48, 45, 50, 46, 50,
       51, 48, 51, 50, 41, 49, 50, 49, 57, 51, 47, 43, 43, 49, 42, 46, 49,
       48, 43, 52, 52, 50, 47, 53, 41, 56, 51, 51, 46, 43, 49, 41, 51, 47,
       42, 48, 49, 48, 44, 44, 42, 54, 51, 51, 47, 51, 47, 51, 43, 47, 48,
       43, 39, 51, 49, 52, 49, 43, 52, 46, 48, 51, 52, 50, 39, 53, 46, 53])

In [91]:
import joblib

In [92]:
joblib.dump(rf_random, 'lasso.joblib')
joblib.dump(encoder, 'encoder_bat.joblib')
joblib.dump(encoder1, 'encoder_bowl.joblib')
joblib.dump(encoder2, 'encoder_team.joblib')
joblib.dump(encoder3, 'encoder_venue.joblib')

['encoder_venue.joblib']

In [90]:
#data.head(10)