In [1]:
import pandas as pd
import numpy as np
import joblib

In [2]:
with open('lasso.joblib','rb') as f:
    lasso_regressor = joblib.load(f)
with open('encoder_bat.joblib','rb') as f:
    encoder = joblib.load(f)
with open('encoder_bowl.joblib','rb') as f:
    encoder1 = joblib.load(f)
with open('encoder_team.joblib','rb') as f:
    encoder2 = joblib.load(f)
with open('encoder_venue.joblib','rb') as f:
    encoder3 = joblib.load(f)

In [3]:
#predict_runs

In [4]:
data = pd.read_csv('./21_inn1.csv')

In [5]:
data.head()

,venue,innings,batting_team,bowling_team,batsmen,bowlers
0,Narendra Modi Stadium,1,Punjab Kings,Kolkata Knight Riders,"MA Agarwal,KL Rahul,CH Gayle","Shivam Mavi,PJ Cummins,SP Narine"

In [6]:
#data.dtypes
#dic
#dic

In [7]:
dic = dict(zip(encoder.classes_, encoder.transform(encoder.classes_)))
dic1 = dict(zip(encoder1.classes_, encoder1.transform(encoder1.classes_)))

In [8]:
#data = pd.get_dummies(data=data, columns=['batting_team', 'bowling_team', 'venue'])
data['batsmen'] = data['batsmen'].str.split(',')
#x=len(data['batsmen'])
data = data.join(pd.DataFrame(data.batsmen.values.tolist(), data.index).add_prefix('batsmen'))
data['bowlers'] = data['bowlers'].str.split(',')
data = data.join(pd.DataFrame(data.bowlers.values.tolist(), data.index).add_prefix('bowlers'))

In [9]:
data['batting_team'] = encoder2.transform(data['batting_team'])
data['bowling_team'] = encoder2.transform(data['bowling_team'])
data['venue'] = encoder3.transform(data['venue'])

In [10]:
#dic1
data.columns

Index(['venue', 'innings', 'batting_team', 'bowling_team', 'batsmen',
       'bowlers', 'batsmen0', 'batsmen1', 'batsmen2', 'bowlers0', 'bowlers1',
       'bowlers2'],
      dtype='object')

In [11]:
data['batsmen0'] = data['batsmen0'].map(dic) if ('batsmen0' in data.columns) else 0
data['batsmen1'] = data['batsmen1'].map(dic) if ('batsmen1' in data.columns) else 0
data['batsmen2'] = data['batsmen2'].map(dic) if ('batsmen2' in data.columns) else 0
data['batsmen3'] = data['batsmen3'].map(dic) if ('batsmen3' in data.columns) else 0
data['batsmen4'] = data['batsmen4'].map(dic) if ('batsmen4' in data.columns) else 0
data['batsmen5'] = data['batsmen5'].map(dic) if ('batsmen5' in data.columns) else 0
data['batsmen6'] = data['batsmen6'].map(dic) if ('batsmen6' in data.columns) else 0
data['batsmen7'] = data['batsmen7'].map(dic) if ('batsmen7' in data.columns) else 0
data['batsmen8'] = data['batsmen8'].map(dic) if ('batsmen8' in data.columns) else 0


data['bowlers0'] = data['bowlers0'].map(dic1) if ('bowlers0' in data.columns) else 0
data['bowlers1'] = data['bowlers1'].map(dic1) if ('bowlers1' in data.columns) else 0
data['bowlers2'] = data['bowlers2'].map(dic1) if ('bowlers2' in data.columns) else 0
data['bowlers3'] = data['bowlers3'].map(dic1) if ('bowlers3' in data.columns) else 0
data['bowlers4'] = data['bowlers4'].map(dic1) if ('bowlers4' in data.columns) else 0

In [12]:
data.drop(['batsmen','bowlers'],axis=1,inplace=True)

In [13]:
data.head()

,venue,innings,batting_team,bowling_team,batsmen0,batsmen1,batsmen2,bowlers0,bowlers1,bowlers2,batsmen3,batsmen4,batsmen5,batsmen6,batsmen7,batsmen8,bowlers3,bowlers4
0,4,1,4,2,200,166,66,266,193,257,0,0,0,0,0,0,0,0

In [29]:
data = data.fillna(0)
for i in data.columns:
    #if data[i].dtype == 'float64':
    data[i]=data[i].astype('int64')

In [30]:
#data = data.apply(pd.to_numeric, errors='ignore')
data.head()

,venue,innings,batting_team,bowling_team,batsmen0,batsmen1,batsmen2,bowlers0,bowlers1,bowlers2,batsmen3,batsmen4,batsmen5,batsmen6,batsmen7,batsmen8,bowlers3,bowlers4
0,4,1,4,2,200,166,66,266,193,257,0,0,0,0,0,0,0,0

In [31]:
predictions = lasso_regressor.predict(data)

In [32]:
predictions = predictions.round(0).astype(int)

In [33]:
print(predictions)

[41]

In [26]:
if len(predictions)==1:
    return predictions[0]
else:
    return predictions

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(predictions[0])? (<ipython-input-26-2cb6f18cc22b>, line 2)

In [2]:
import sklearn
sklearn.__version__

'0.21.2'